/* General styles */
body, h1, p, ol {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Serif Display", "Calibri", "Trebuchet", serif;
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

#content {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  box-shadow: 20px 20px 20px 20px rgba(10, 5, 5, .5);
  background-image: url('media/flowers.jpg');
  background-position: center;
  background-size: cover;
}

label {
  display: block;
  margin-bottom: 1rem;
  color: #000000;
}

input[type="phone"],
input[type="email"] {
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #5d0aa6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: progress;
  font-style: italic;
}

/* Media queries */
@media (min-width: 420px) {
  form {
    width: 90%;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }

  #content {
    padding: 15px;
  }

  input[type="submit"] {
    width: 100%;
  }
}